name: Trivy Scan
on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  trivy:
    permissions:
      security-events: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Install Trivy
      uses: aquasecurity/setup-trivy@9ea583eb67910444b1f64abf338bd2e105a0a93d # v0.2.3
      with:
        version: v0.56.2
        cache: true
    - name: Download Trivy DB
      run: |
        trivy fs --no-progress --download-db-only --db-repository public.ecr.aws/aquasecurity/trivy-db
    - name: Run Trivy vulnerability scanner (table output)
      run: |
        trivy fs \
          --scanners vuln \
          --format table \
          --exit-code 1 \
          --ignore-unfixed \
          --pkg-types os,library \
          --severity CRITICAL,HIGH \
          --skip-db-update \
          .
    - name: Run Trivy vulnerability scanner
      run: |
        trivy fs \
          --scanners vuln \
          --format sarif \
          --output trivy-results.sarif \
          --ignore-unfixed \
          --pkg-types os,library \
          --ignorefile .trivyignore \
          --skip-db-update \
          .
      if: always() && github.repository == 'hairyhenderson/go-fsimpl'
    - name: Upload Trivy scan results to GitHub Security tab
      if: always() && github.repository == 'hairyhenderson/go-fsimpl'
      uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
      with:
        sarif_file: 'trivy-results.sarif'
